*{
    background-color: rgb(68, 67, 67);
}
h1{
    color: #fff;
    font-size: 40px;
}
.container{
    height: 100vh;
    display: grid;
    place-items: center;
}

.img {
    text-align: center;
}

.image{
    width: 500px;     
    height: 330px;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 4px; 
}
@media (max-width: 800px) {
    h1 {
        font-size: 30px;
    }

    .image {
        width: 400px;     
        height: 230px;
    }
}
@media (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    .image {
        width: 300px;     
        height: 130px;
    }
}